@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'robotolight';
  font-size: 13px !important
}
/* table {
  margin: 5rem auto;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px black;
  overflow: hidden;
  max-width: 80rem;
}
thead {
  font-size: 1.2rem;
  background-color: #2596be;
  color: #fff;
}
th, 
td {
  border: 1px solid #2596be;
  min-width: 3rem;
  padding: 0.3rem;
  line-height: 0.7;
}
td {
  font-size: 1rem;
} */
.error {
  color: red;
  text-align: center;
}


.partners,
.reports,
.roducts
.team {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.input-container input[type="text"],
.input-container input[type="password"] {
  flex: 1;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding-left: 25px;
  margin-left: 50x;
  outline: none;
}
.input-container svg {
 position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

button[type="submit"] {
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  width: 299px;
}

button[type="submit"]:hover {
  background: #6cf0c2;
}


.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.712);
  padding: 1rem;
  text-align: center;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 14%;
  margin-top: 10px;
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 10px auto;
  flex-direction: row;
  gap: 3px;
  position: relative;
}
.link-button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

/* .confirmation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-modal {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.confirmation-message {
  font-size: 18px;
  color: #000;
  margin-bottom: 20px;
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
}

.confirmation-confirm,
.confirmation-cancel {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  
}

.confirmation-confirm {
  background-color: #343535;
  color: #fff;
  border: none;
  margin-right: 10px; 
}

.confirmation-cancel {
  background-color: #343535;
  color: #fff;
  border: none;
  margin-left: 10px; 
}


.logout-btn {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  margin-left: auto;
  margin-right: 12px;
  border-radius: 10px;
  border: none;
}
.logout-btn:hover {
  background-color: #555;
  color: white;
}

.logout-btn i {
  margin-left: 4px;
  
} */

.footer {
  display: block;
  background-color: #323232;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: robotoregular;
  height: 60px; 
}

.footer .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-top: 21px;
}

.footer .links {
  display: flex;
  align-items: center;
  height: 100%;
}

.footer .links a {
  margin-left: 16px;
  text-decoration: none;
  color: white;
}

.footer .links a:hover {
  text-decoration: underline;
}

.footer .copyRight {
  position: absolute;
  bottom: 37%;
  left: 54%;
  transform: translateX(-50%);;
}

.footer .version {
  text-align: right;
  width: 33.33%;
}

.footer .version span,
.footer .copyRight span {
  color: white;
}

.footer .version span {
  margin-right: 26px;
}

.footer .copyRight span {
  margin-left: 26px;
}